//produk
.sale {
     img {
          border-radius: 10px;
     }
}
.slider-produk {
     z-index: 1;
}
swiper-container {
     border-radius: 10px;

     swiper-slide {
          border-radius: 10px;

          img {
               border-radius: 10px;
          }
     }
}

.catalog {
     margin: 50px 0;
     .title {
          span {
               font-size: 26px;
               font-weight: 500;
          }
     }

     .sort {
          font-weight: 500;
          font-size: 14px;
     }
}

.item-produk {
     padding: 5px;
     border-radius: 13px;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;

     a {
          text-decoration: none;
     }
     .img-produk {
          background-color: #f9f9f9;
          border-radius: 10px;
          height: 200px;
          width: 100%;
     }

     .title-more {
          .produk-category {
               font-weight: 400;
               font-size: 12px;
               color: var(--primary-color);
          }
          .produk-name {
               font-weight: 600;
               font-size: 14px;
               color: var(--font-black);
          }
          .produk-desc {
               font-weight: 400;
               font-size: 13px;
               color: rgb(57, 57, 57);
          }
     }
}
